.conversationBox {
  border-left: 1px solid #e2e2e2 ;
}

.conversationBrick {
  border-bottom: 1px solid #e2e2e2 ;
  padding: 0 4px;

}

.conversationBrick.selected {
  border-right: 5px solid var(--main-color)
}

.conversationBrick img {
  width: 20%;
}

.messageBox {
  max-height: 410px;
  overflow: scroll;
  position: relative;
  right: 10px;
}

.messageBrick {
  width: 80%;
  background-color: #e2e2e2;
}

.messageBrick.left {
  margin-right: 20%;
}

#chatSend textarea {
  margin-bottom: 10px;
}
#chatSend {
  margin-top: 10px;
}
