@font-face {
  font-family: 'IranSans';
  src: url("/fonts/IranSans/IRANSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


footer {
  margin-top: 50px;
  text-align: center;
  color: white;
  width: 100%;
  bottom: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'IranSans';
  padding-top: 60px;
  --main-color : #FFA400;
  /*--main-color : #19B5FE;*/
  --info-color : #8E44AD;
  --light-color : #F5F7FA;
  --dark-color : #434A54;
}


.btn.btn-info {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.badge.badge-info {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.main-color {
  color: var(--main-color)
}

.main-bg {
  background-color: var(--main-color)
  border-color: var(--main-color)
}

.info-bg {
  background-color: var(--main-color) !important;
}

.info-color {
  color: var(--info-color)
}

.dark-color {
  color: var(--dark-color)
}

.light-color {
  color: var(--light-color)
}


div.s-alert-box {
  font-family: inherit;
}

.fancy-hr {
  border-color: var(--main-color)
}

.vmargin {
  margin: 5px 0 ;
}

.hmargin {
  margin: 0 5px;
}

.jumbotron {
  padding: 5px !important
}

i.ii {
  font-size: 32px;
  padding: 5px;
}

/* Nav */
#mainNav {
  background: white ;
  color: black ;
  border-bottom: 2px solid #e2e2e2;
  -webkit-transition: all .25s ease;
  -webkit-box-shadow: 0 5px 2px rgba(0, 0, 0, .2) ;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2) ;
  box-shadow: 0 5px 3px rgba(0, 0, 0, .2) ;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  padding-top: 10px ;
  font-size: 16px ;
  margin-bottom: 50px
}

#mainNav div.collapse {
  position: relative;
  padding-bottom: 10px;
  top: 10px;
}
#mainNav.transp {

  color: #fff;
  border: none;
  background: transparent;
}

#mainNav a {
  margin: 0 10px;
  margin-top: 5px;
  color: inherit !important;
}

#mainNav a:hover {
  background: inherit;
}
#mainNav a:focus {
  background: inherit;
}

#mainNav li {
  text-align: center;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
}

#mainNav li:before {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border-width: 0;
  content: '';
  width: 100%;
  position: absolute;
  top: 68px;
  left: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  border-bottom: 3px solid var(--main-color);
}

#mainNav li:hover:before{
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#mainNav .navbar-brand {
  font-size: 20px;
}

#mainNav #profileLink a:hover {
  cursor: pointer;
  text-decoration: none
}

#mainNav #profileLink i {
  font-size: 24px;
  margin-left: 5px;
  position: relative;
  top: 5px;
}
#mainNav #profileLink {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 5px;
}

#mainNav .logo {
  transition: all .3s ease;
}

#mainNav img.logo {
  position:absolute; left: 50%; top: 20px;
}
#mainNav #logoblack {
  opacity: 1
}

#mainNav #logowhite {
  opacity: 0
}

#mainNav.transp #logowhite {
  opacity: 1;
}

.shadow{
  -webkit-box-shadow: 0 5px 2px rgba(0, 0, 0, .4) ;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4) ;
  box-shadow: 0 5px 3px rgba(0, 0, 0, .4) ;
}

.rounded-btn{
    border-radius: 25px ;
    width: 150px;
    margin: 1px;
    height: 40px;
    padding: 10px 5px  ;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    border: none;
}


.rounded-btn.btn-block {
    width: 100% ;
}


.rounded-btn.btn-success {
    color:var(--light-color);
    background-color: var(--main-color);
}

.rounded-btn.btn-success:hover, button.rounded-btn:focus{
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2) ;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .2) ;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2) ;
    background-color:var(--light-color);
    color: var(--main-color);
}


.rounded-btn.btn-info {
    background-color: var(--info-color);
    color: var(--light-color);
}

.rounded-btn.btn-info:focus, .rounded-btn.btn-info:hover {
    background-color: var(--light-color);
    -webkit-box-shadow: 0 5px 2px rgba(0, 0, 0, .4) ;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .4) ;
    box-shadow: 0 5px 3px rgba(0, 0, 0, .4) ;
    color: var(--info-color);
}


/* Step */

.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
  background-color: var(--main-color)
}

.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
  background-color: #e2e2e2
}

#example-vertical > div.actions.clearfix > ul > li a {
  background-color: var(--main-color)
}
