
.startupPicBox img {
  height: 100%;
  width: 100%;
}

.startupPicBox div.col {
  padding: 0;
}
.startupPicBox {
  overflow: hidden;
  height: 100px;
  position: relative;
}

.startupPicBox .content {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0 ;
  /*opacity: 0;*/
  background-color: rgba(255,255,255,.6);
  transition: all .3s ease;
  text-align: center;
  transform: scale(1.2);
  opacity: 0
}

.startupPicBox:hover {
  cursor: pointer;
}

.startupPicBox:hover .content {
  transform: scale(1);
  opacity: 1;
}
.startupPicBox .content .align {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}
