<template name="mainLayout">
  <nav id="mainNav" class="navbar navbar-fixed-top transp">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> منو <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/"> فاندبوستر </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" id="scroll-nav">
            <li>
              <a class="scroll" href="">یادگیری</a>
            </li>
            <li>
              <a class="scroll" href="">پروژه‌ها</a>
            </li>
            <li>
              <a class="scroll" href=""> ثبت پروژه</a>
            </li>
            <li>
              <a class="scroll" href=""> عضو شوید </a>
            </li>
            <li>
              <a class="scroll" href=""> ثبت نام</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="container">
    {{> yield }}
  </div>

  <!-- Site footer -->
  <footer class="footer">
    <p>&copy; 2016 Company, Inc.</p>
  </footer>

</template>
